[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[functions]
  node_bundler = "esbuild"
  # Augmenter le timeout pour les fonctions qui génèrent des PDFs
  included_files = ["documents/**"]
